html {
    font-size:62.5%;
}

body {
    margin: 0;
    background-color: #eff0f4;
}
header, footer>button {
    background: #5fc0cd;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: #fff;
}
header div {
    font-size: 1.6rem;
    font-weight: bold;  
}
header a {
    display: inline-block;
    font-size: 1.4rem; 
    margin: 2rem;
    text-decoration: none; 
    color: #fff;
}
main {
    overflow: hidden;
}
main form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
}
.login div {
    background-color: #fff;
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
}
.login input {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0 0 8rem;
    margin: 0 -8rem 0 0;
    width: 100%;
    border: 0rem;
    font-size: 1.4rem;
    line-height: 5rem;
}

.login input[type=text] {
    background: url("./images/icon_mobile.png") no-repeat;
    background-size: 5.9rem 5rem;
}
.login input[type=password] {
    background: url("./images/icon_pwd.png") no-repeat;
    background-size: 5.9rem 5rem;
}

.btn{
    border: 0;
    margin-top: 0.5rem;
    width: 100%;
    line-height: 5rem;
    font-size: 1.6rem;
    letter-spacing: 1rem;
    color: #fff;
}
.btn:hover {
    background-color: #5bb7c3;
}
footer div a{
    float: right;
    margin: 1rem 1rem 0 0 ; 
    font-size: 1.2rem;
    color: #5fc0cd;
}