
/* layout */



.head-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: #29bde0;
}

.head-title span {
    font-size: 1.3rem;
    color: #ffffff;
}

.state-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    height: 3rem;
}

main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9rem;
    width: 100%;
    background-color: #29bde0;
}

.item-list {
    display: flex;
    justify-content: space-between;
}

.list-chair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .18rem;
    background-color: #29bde0;
}

.module-chair {
    margin: 0 2rem;
}

.identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2rem;
    background-color: #ffffff;
}

.identity-name {
    display: inline-block;
    width: 4.6rem;
    text-align: center;
    line-height: 3.6rem;
    font-size: 1rem;
    background-color: #48D1CC;
}

.item-count {
    width: 100%;
    line-height: 1rem;
    text-align: center;
    background-color: #29bde0;
}

.operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    background-color: #29bde0;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.8rem 0 3.7rem 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 999;
}

.behaviar-btn {
    padding: 1rem 2rem;
    border-top: .1rem solid #ffffff;
}


/* global */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
footer {
    background-color: #29bde0;
}

/* skin */

body {
    background-color: #29bde0;
}

.state-title {
    background-color: #b9e9f5;
}
.prompt {
    font-size: .8rem;
}
.yourturn {
    display: flex;
    align-items: center;
    padding-left: 2.7rem;
    height: 3rem;
    font-size: .75rem;
    color: #b9e9f5;
    background-color: #29bde0;
}


/* module */

.icon1, .icon2, .icon3, .icon4 {
    display: inline-block;
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    background: url(../images/icon-sprite.png) no-repeat;
    background-size: 185%;
}

.icon1 {
    background-position: left 35%;
}

.icon2 {
    background-position: left 41.5%;
}

.icon3 {
    background-position: left 48%;
}

.icon4 {
    background-position: left 55%;
}

.behaviar-btn button {
    width: 14.8rem;
    height: 3.4rem;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #fbb435;
}

#trangle {
    position: absolute;
    left: 2.5rem;
    display: inline-block;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    border-top: .5rem solid #b9e9f5;
}

.buwei {
    height: 7rem;
}

.player {
    display: inline-block;
    margin-top: .3rem;
    width: 2rem;
    height: 2.1rem;
    margin-right: 1rem;
    background: url(../images/icon-sprite.png) no-repeat;
    background-position: left 82%;
    background-size: 100%;
    cursor: pointer;
}

.over-turn {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.over-turn-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 90%;
    margin: 0 auto;
}

.over-turn-header span {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
}

.menu, .myclose {
    background: url(../images/icon-sprite.png);
    background-size: 120%;
}

.menu {
    background-position: left 71%;
}

.myclose {
    background-position: left 62.5%;
}

.turn-choice {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin: 10rem auto;
    width: 75%;
    border-radius: .5rem;
    background-color: #ffffff;
}

.turn-choice-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 80%;
}

.turn-choice-menu p {
    padding: 1.5rem 0;
    letter-spacing: .1rem;
    font-size: 1rem;
    margin: 0 auto;
    color: #4D5257;
}

.turn-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem;
}

.turn-button .yes, .no {
    border: 0;
    outline: none;
    padding: .7rem 1.8rem;
    border-radius: .5rem;
    font-size: 1rem;
    color: #ffffff;
}

.yes {
    background-color: #FD7474;
}

.identity:hover::after {
    position: absolute;
    content: '';
    width: 4.6rem;
    height: 4.6rem;
    filter: alpha(Opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    background-color: #fbb435;
}
.identity-name:hover{
    background-color: #fbb435;
}

.operation {
    visibility: hidden;
    
}