/*技能树通用页*/
@import './mymy.css';

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.tel-word {
    color: #29b078;
    font-size: 14px;
    line-height: 40px
}

nav {
    box-shadow: 0 2px 10px #e4e4e4
}

.nav-word a {
    color: #fff
}

body {
    font-family: "Microsoft YaHei UI";
}

h4 {
    font-family: "Microsoft YaHei UI";
    color: black
}

footer {
    background-color: #26a26f;
    color: #fff;
    padding-top: 38px;
}

footer a {
    color: white;
    padding-bottom: 7px;
    border-bottom: 1px solid #26a26f
}

footer p {
    font-size: 16px;
    margin: 0
}

.head-bgc {
    background-color: #fff
}

.navbar-default, .navbar-nav > li > a {
    color: #fff
}

#gr span {
    font-size: 18px
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: white
}

.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .4);
}

.weixin, .qq, .weibo {
    background: url("images/mysp.png") no-repeat;
}

.weixin, .qq, .weibo {
    display: inline-block;
    margin: 7px 16px 7px 0;
    height: 25px;
    width: 25px;
    float: right
}

.weixin {
    background-position-y: 0
}

.qq {
    background-position-y: -28px
}

.weibo {
    background-position-y: -57px
}

#jinengshu-navbar-collapse {
    font-size: 16px
}

.nav-logo {
    position: absolute;
    top: 50%;
    margin-top: -24.5px;
    z-index: 17;
    box-shadow: 2px 2px 20px #29b075
}

.bg {
    background-color: #fafafa
}

.foot-left {
    margin-bottom: 70px
}

.foot-mid {
    margin-bottom: 30px;
}

.foot-a {
    margin-bottom: 7px;
    border-bottom: 1px
}

footer a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #fff
}

.copyright {
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #32c086;
    margin-top: 18px;
    height: 30px;
    line-height: 30px
}


/***********************/

.col-md-1-5 {
    width: 20%;
    float: left;
}

.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
    min-height: 1px;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}


/*************************************/

@media (min-width: 1200px) {
    .container > .navbar-collapse {
        margin-right: -35px;
    }
    .container {
        width: 1200px
    }
    .navbar-default .navbar-nav > li > a {
        height: 100px;
        width: 100px;
        line-height: 70px;
        text-align: center;
    }
    .navbar-default .navbar-nav > li.active a {
        border-bottom: 3px solid #fff
    }
    .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 3px solid #fff;
        color: #fff
    }
    .padding-l-53 {
        padding-left: 50px
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container > .navbar-collapse {
        margin-right: -15px;
    }
    .padding-l-53 {
        padding-left: 0
    }
    .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 3px solid #fff;
        color: #fff
    }
    .navbar-default .navbar-nav > li.active a {
        border-bottom: 3px solid #fff
    }
    .foot-right {
        text-align: center
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .padding-l-53 {
        padding-left: 0
    }
    .foot-right {
        text-align: center
    }
    .container > .navbar-collapse {
        margin-right: -15px;
    }
    .navbar-default .navbar-nav > li.active a {
        border-bottom: 3px solid #fff
    }
    .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 3px solid #fff;
        color: #fff
    }
}

@media (max-width: 768px) {
    .copyright {
        height: 60px
    }
    .navbar-default .navbar-nav > li.active a {
        background-color: rgba(0, 0, 0, .3)
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, .4);
        transition: 0.5s;
    }
    .navbar-default .navbar-nav > li > a {
        text-align: center;
    }
    .navbar-default .navbar-collapse {
        border: 0 transparent;
        position: absolute;
        top: 49px;
        right: 0;
        left: 0;
        background-color: rgba(41, 176, 120, 0.7);
        z-index: 16;
    }
    footer {
        text-align: center
    }
    footer p {
        margin-top: 20px;
    }
    .padding-l-53 {
        padding: 0
    }
}